<div class="d-flex justify-content-between align-items-center">
    <h4>{{ post.title }} ({{ post.loveIts }})</h4>
    <small class="text-secondary">{{ post.created_at | date:"short" }}</small>
  </div>
  <p style="white-space: pre">{{ post.content }}</p>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary mr-2" (click)="onIncrementLove()">Love It!</button>
      <button class="btn btn-primary" (click)="onDecrementLove()">Don't love It</button>
      <button class="btn btn-danger float-right" (click)="onDeletePost()">Supprimer</button>
    </div>
  </div>